.swfupload-wrapper form {
	margin: 0;
	padding: 0;
}

.swfupload-wrapper div.fieldset {
	border:  1px solid #afe14c;
	margin: 10px 0;
	padding: 5px;
}

.swfupload-wrapper div.fieldset span.legend {
	position: relative;
	background-color: #FFF;
	padding: 3px;
	margin-bottom: 5px;
  display: block;
	font: 14px Arial, Helvetica, sans-serif;
	color: #ccc;
}

.swfupload-wrapper div.flash {
	width: 375px;
	margin: 10px 5px;
	border-color: #ccc;
}

.swfupload-wrapper .progressWrapper {
	width: 375px;
	overflow: hidden;
  padding: 0 0 10px 0;
}

.swfupload-wrapper.progressContainer {
	margin: 5px;
	padding: 10px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.swfupload-wrapper .message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.swfupload-wrapper .red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
  padding: 5px;
}

/* Current */
.swfupload-wrapper .green {
  border: solid 1px #DDF0DD;
  background-color: #EBFFEB;
  padding: 5px;
}

/* Complete */
.swfupload-wrapper .blue {
  border: solid 1px #CEE2F2;
  background-color: #F0F5FF;
  padding: 5px;
}

.swfupload-wrapper .progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.swfupload-wrapper .progressBarInProgress,
.swfupload-wrapper .progressBarComplete,
.swfupload-wrapper .progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: #3399cc;
	margin-top: 2px;
}

.swfupload-wrapper .progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.swfupload-wrapper .progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.swfupload-wrapper .progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

.swfupload-wrapper a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	float: right;
}

.swfupload-wrapper .swfupload {
	vertical-align: top;
}

.swfupload-wrapper #btnCancel{
  cursor: pointer;
  font-size:13px;
  margin-left:10px;
}